# Dockerfile config
PORT="8501"

# Backend config
API_BASE_URL="http://pipeline-api:8080/api"
API_TOKEN="your-api-token"

# Auth config
AUTH_CONFIG_FILE="auth_config.yaml"

# Open-telemetry config
OTEL_SERVICE_NAME="streamlit-ui"
OTEL_EXPORTER_OTLP_ENDPOINT="http://otel-lgtm:4317"
OTEL_PYTHON_LOG_LEVEL="info"
OTEL_PYTHON_LOG_CORRELATION="true"
OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED="true"
OTEL_METRIC_EXPORT_INTERVAL="5000"

# Nginx routing config
VIRTUAL_HOST="app.localhost"
VIRTUAL_PORT="8501"
